/* fonts */

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* fonts */

.container-fluid {
	width:100%;
    margin: 0;
    padding: 0;
}

.imagem{
    max-height:15%;
    width:100%;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 410px;
      margin: auto;
  }

.sfs {
	text-align:center;
}	

.jumbotron {
	margin:1% 0 1% 0;
}

section {
    padding: 50px !important;
}

.navbar{
    margin-bottom: 5px !important
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  min-height: 600px;
}

body *{
  font-family: 'Open Sans';
  color: #666;
  line-height: 22px;
}

div.row{
    margin-right: 0;
    margin-left: 0;
}

#wrapper {
  width: 100%;
  min-width: 900px;
  height: 500px;
  margin: -250px 0 0 0;
  position: absolute;
  top: 50%;
  left: 0;
}
#carousel div {
  height: 500px;
  float: left;
}
#carousel img {
  min-width: 100%;
  min-height: 100%;
}
#title {
  text-align: center;
  width: 100%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
#title h3 {
  text-shadow: 
    0 3px 3px rgba( 0, 0, 0, 0.3 ),
    0 -3px 3px rgba( 0, 0, 0, 0.3 ),
    3px 0 3px rgba( 0, 0, 0, 0.3 ),
    -3px 0 3px rgba( 0, 0, 0, 0.3 );
 
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
  margin: 0;
}
#title a {
  color: #fff;
}
#title a:hover {
  background: rgba( 0, 0, 0, 0.5 );
  padding: 2px 5px;
}
#pager {
  border-radius: 20px;
  background: #fff;
  text-align: center;
  width: 120px;
  height: 50px;
  padding-top: 2px;
  margin: 235px 0 0 -60px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#pager a.selected span {
  background: #666;
}
#pager a {
  display: inline-block;
  padding: 5px;
}

#pager span {
  border-radius: 10px;
  background: #ccc;
  text-indent: -100px;
  line-height: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
}