/* fonts */

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* fonts */

html, body{
  height: 100%;
  padding: 0;
}

body{
    background: #fff;
    min-height: 600px;
    color: black;
    font-family: 'Open Sans';
}

.container-fluid {
    width:100%;
    margin: 0;
    padding: 0;
}

.imagem{
    max-height:15%;
    width:100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 410px;
    margin: auto;
}

.sfs{
    text-align:center;
}

div.row{
    margin-right: 0;
    margin-left: 0;
}

.header-menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #f3a601;
    height: 98px;
    z-index: 99;
    border-bottom: 1px solid white;
}

.header-menu .content-user{
    float: right;
}

.header-menu > div{
    margin: 23px 0;
}

.header-menu a{
    color: white;
    border: 1px transparent solid;
}

.navbar-nav > li a{
    -webkit-transition: border 0.2s 0.15s linear;
    -moz-transition: border 0.2s 0.15s linear;
    -ms-transition: border 0.2s 0.15s linear;
    -o-transition: border 0.2s 0.15s linear;
    transition: border 0.2s 0.15s linear;
}

.navbar-nav > li a:hover,
.navbar-nav > li a:focus{
    background: initial;
    border: 1px solid white;
}

.header-menu .options.user-menu .nav.navbar-nav > li a:hover,
.header-menu .options.user-menu .nav.navbar-nav > li a:focus{
    border: initial;
    background: transparent;
}

.header-menu .options.user-menu .nav.navbar-nav{
    float: right;
}

.navbar{
    margin-bottom: 0;
}

.page-content{
    position: relative;
    top: 98px;
    left: 0;
    margin-bottom: 2em;
}

.row.container-block{
    margin: 2em 0;
}

h1, h2, h3{
    line-height: 100%;
}

.title{
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 4em;
}

.block-title{
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 3em;
}

.form-input-title{
    font-family: Montserrat, serif;
    font-weight: normal;
    font-size: 2rem;
}

.font-montserrat{
    font-family: Montserrat, serif;
}

.row.container-block .content{
    margin: 2em 0;
    padding-top: 98px;
}

.row.container-block .content div{
    margin: 2rem 0;
}

.form-data{
    padding: 20px;
}

.form-data.login{
    color: white;
    background: rgba(0, 0, 0, .7);
}


.form-data .btn-enter{
    margin: 20px 0;
}


.video{
height: 100% !important;
}

@font-face {
font-family: bodoni;
src: url('../BodoniFLF-Roman.ttf');
}

@font-face {
font-family: ralewaythin;
src: url('../fonts/raleway/Raleway-Thin.ttf');
}

@font-face {
font-family: ralewayextralight;
src: url('../fonts/raleway/Raleway-ExtraLight.ttf');
}

@font-face {
font-family: ralewaylight;
src: url('../fonts/raleway/Raleway-Light.ttf');
}

@font-face {
font-family: playfairdisplay;
src: url('../fonts/playfair_display/PlayfairDisplay-BoldItalic.ttf');
}

@font-face {
font-family: ralewaybold;
src: url('../fonts/raleway/Raleway-Bold.ttf');
}

.textotitulo{
  font-family: ralewaybold;
  text-transform: uppercase;
  text-decoration-color: white;
}

.textotitulo1{
  font-family: ralewayextralight;
  text-decoration-color: white;

}


.texto{
  font-family: bodoni;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(80, 80, 80);
    opacity: .6;
}

.divisor {
    margin: 38px 0;
}
