.container-fluid {
	width:100%;
	margin:1%;
}

.imagem{
    max-height:15%;
    width:100%;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 410px;
      margin: auto;
  }

.sfs {
	text-align:center;
}	

.jumbotron {
	margin:1% 0 1% 0;
}

section {
    padding: 50px !important;
  }


.navbar{
  margin-bottom: 5px !important

}




html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  min-height: 600px;
}
body *{
  font-family: 'Open Sans';
  color: #666;
  line-height: 22px;
}